####################################################
#
# List of approvers for stacks project
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the following users/teams will be requested for
# review when someone opens a pull request.
* @cisco-open/stacks-maintainers

# TODO: assign code owners per subsystem

# Enforces admin protections for repo configuration via probot settings app.
# ref: https://github.com/probot/settings#security-implications
.github/settings.yml @cisco-open/stacks-admins
